<p style="color: green"><%= notice %></p>

<div class="p-10 grid grid-cols-1">
  <%= render @property %>
</div>

<div>
  <%= link_to "Edit this property", edit_property_path(@property) %> |
  <%= link_to "Back to properties", properties_path %>

  <%= button_to "Destroy this property", @property, method: :delete %>
</div>
